<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}">

</head>
<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>


<!-- About Section -->
<section id="about" class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center">About Us</h2>
        <p class="text-center mt-4">At BeardCare, we believe in providing the best grooming products to help you look and feel your best. Our products are made with natural ingredients and crafted with care to ensure the highest quality. Join the BeardCare community and take your beard game to the next level.</p>
    </div>
</section>


<!-- Footer -->
<footer class="py-4 bg-dark text-white text-center">
    <div class="container">
        <p>&copy; 2024 BeardCare. All rights reserved.</p>
    </div>
</footer>


</body>
</html>
