<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}">

</head>
<body>
<div class="wrapper">

    <div>
        <nav th:replace="~{fragments/navbar}"></nav>
    </div>

    <div class="add-articles-container container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center mb-5">Add Article</h1>
                        <form id="article-form" th:action="@{/blog/add}" th:method="POST" th:object="${addArticleDTO}">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" id="title" th:field="*{title}"
                                       placeholder="Enter title">
                                <small th:if="${#fields.hasErrors('title')}"
                                       th:errors="*{title}" class="text-danger"></small>
                            </div>
                            <div class="form-group">
                                <label for="content">Content Path</label>
                                <input class="form-control" id="content" th:field="*{contentPath}"
                                          placeholder="Enter content">
                                <small th:if="${#fields.hasErrors('contentPath')}"
                                       th:errors="*{contentPath}" class="text-danger"></small>
                            </div>
                            <div class="form-group">
                                <label for="author">Author</label>
                                <input type="text" class="form-control" id="author" th:field="*{author}"
                                       placeholder="Enter author">
                                <small th:if="${#fields.hasErrors('author')}"
                                       th:errors="*{author}" class="text-danger"></small>
                            </div>
                            <div class="form-group">
                                <label for="publishedDate">Image Url</label>
                                <input type="text" class="form-control" id="publishedDate" th:field="*{imageUrl}">
                                <small th:if="${#fields.hasErrors('imageUrl')}"
                                       th:errors="*{imageUrl}" class="text-danger"></small>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="add-article-button btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <nav th:replace="~{fragments/footer}"></nav>
</div>

</body>
</html>