<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}">

</head>
<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>


<section class="login-section py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Register</h2>
                    </div>
                    <div class="card-body">
                        <form
                                th:action="@{/users/register}"
                                th:method="POST">
                            <div class="form-group">
                                <label for="firstName">First brand</label>
                                <input type="text" class="form-control" id="firstName" brand="firstName" placeholder="First brand">
                                <p class="errors alert alert-danger" hidden>
                                    First brand is required!
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last brand</label>
                                <input type="text" class="form-control" id="lastName" brand="lastName" placeholder="Last brand">
                                <p class="errors alert alert-danger" hidden>
                                    Last brand is required!
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" brand="email" placeholder="Email">
                                <p class="errors alert alert-danger" hidden>
                                    Email brand is required!
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" brand="password" placeholder="Password">
                                <p class="errors alert alert-danger" hidden>
                                    Password is required!
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm password</label>
                                <input type="password" class="form-control" id="confirmPassword" brand="confirmPassword" placeholder="Confirm password">
                                <p class="errors alert alert-danger" hidden>
                                    Confirm password is required!
                                </p>
                            </div>
                            <button type="submit" class="btn btn-dark btn-block">Register</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div>
    <nav th:replace="~{fragments/footer}"></nav>
</div>



</body>
</html>
