<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body>

<div class="wrapper">
    <div>
        <nav th:replace="~{fragments/navbar}"></nav>
    </div>

    <div th:if="${products}">
        <div class="container my-5">
            <h1 class="text-center mb-5">Products in
                <th:block th:text="${categoryName}">Category</th:block>
            </h1>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5 mb-5 mr-lg-5 content-center" th:each="product : ${products}">
                    <div class="card-categories-product d-flex flex-column"
                         th:class="|card-categories-product|"
                         th:style="|background: url('@{${#strings.substring(product.category.imageUrl, 2)}}') no-repeat center center; background-size: cover;|">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h5 class="card-title text-center" th:text="${product.brand.name.displayName}">Product</h5>
                            <form th:action="@{/shop/categories/{categoryName}/products(categoryName=${categoryName})}"
                                  th:method="post" class="d-flex justify-content-center mt-auto">
                                <input type="hidden" name="uuid" th:value="${product.uuid}"/>
                                <button type="submit" class="shop-button">View</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="pagination-container">
        <ul class="pagination justify-content-center">
            <li th:if="${products.hasPrevious()}">
                <a th:href="@{/shop/categories/{categoryName}/products(categoryName=${categoryName},categoryId=${categoryId}, page=${products.number - 1}, size=${products.size})}">Previous</a>
            </li>
            <li th:each="pageNum : ${#numbers.sequence(0, products.totalPages - 1)}">
                <a th:href="@{/shop/categories/{categoryName}/products(categoryName=${categoryName},categoryId=${categoryId}, page=${pageNum}, size=${products.size})}"
                   th:text="${pageNum + 1}"
                   th:classappend="${pageNum == products.number} ? 'active' : ''">1</a>
            </li>
            <li th:if="${products.hasNext()}">
                <a th:href="@{/shop/categories/{categoryName}/products(categoryName=${categoryName},categoryId=${categoryId}, page=${products.number + 1}, size=${products.size})}">Next</a>
            </li>
        </ul>
    </div>

    <div th:if="${error}">
        <div class="container my-5">
            <h1 class="text-center mb-5">There are no products in this category</h1>
        </div>
    </div>


</div>
<div class="footer">
    <nav th:replace="~{fragments/footer}"></nav>
</div>
</body>
</html>
