<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}">

</head>
<body>
<div class="wrapper">

    <div>
        <nav th:replace="~{fragments/navbar}"></nav>
    </div>

    <div class="hero-section">
        <div class="hero-overlay">
            <div class="hero-content">
                <h1 class="hero-title">Take Your Beard to the Next Level</h1>
                <p class="hero-subtitle">Quality grooming products for the modern gentleman.</p>
                <a href="/shop/categories" class="hero-button">Shop Now</a>
            </div>
        </div>
    </div>


    <section id="products" class="dark-gray">
        <div class="container">
            <h2 class="text-center">Our Products</h2>
            <div class="products-container">
                <div class="row mt-4">
                    <div class="col-md-4" th:each="product : ${products}">
                        <div class="card" th:class="|card|" th:style="'background-image: url(' + @{${product.imageUrl}} + ');'">
<!--                            <img src=@{${product.imageUrl}} class="card-img-top" alt="Product 1">-->
                            <div class="card-body">
                                <h5 class="card-title" th:text="${product.brand.name.displayName}">Beard Oil</h5>
                                <p class="card-text" th:text="${product.description}">Nourish and hydrate...</p>
                                <p class="card-text" th:text="${product.price}">15.00</p>
                                <a href="#" class="hero-button btn btn-dark d-flex justify-content-center mt-auto">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section id="about" class="py-5">
        <div class="container">
            <h2 class="text-center">About Us</h2>
            <p class="text-center mt-4">At FineBeard, we believe in providing the best grooming products to help you
                look and feel your best. Our products are made with natural ingredients and crafted with care to ensure
                the highest quality. Join the FineBeard community and take your beard game to the next level.</p>
        </div>
    </section>


    <section id="contact" class="py-5">
        <div class="container">
            <h2 class="text-center">Contact Us</h2>
            <form class="mt-4">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Your Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" rows="4" placeholder="Your Message"></textarea>
                </div>
                <button type="submit" class="btn btn-dark">Send Message</button>
            </form>
        </div>
    </section>

</div>

<div>
    <nav th:replace="~{fragments/footer}"></nav>
</div>

</body>
</html>
