<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}">

</head>
<body>
<div class="wrapper">
    <div>
        <nav th:replace="~{fragments/navbar}"></nav>
    </div>


    <section class="profile-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h2 class="text-center mb-4">Your Profile</h2>


                    <div class="card mb-4">
                        <div class="card-header bg-primary text-white">
                            <h5 class="mb-0">Profile Information</h5>
                        </div>
                        <div class="card-body">
                            <p><strong>Username: </strong><span th:text="${#authentication.name}"> JohnDoe123</span></p>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header bg-secondary text-white">
                            <h5 class="mb-0">Change Your Username</h5>
                        </div>
                        <div class="card-body">
                            <form th:method="POST"
                                  th:action="@{/profile/change-username}"
                                  th:object="${changeUsernameDTO}">

                                <div class="form-group">
                                    <label for="newEmail">New Username</label>
                                    <input type="text" class="form-control" id="newEmail" name="newEmail"
                                           th:field="*{newEmail}" th:errorclass="bg-danger"
                                           placeholder="Enter new username" required>
                                    <small th:if="${#fields.hasErrors('newEmail')}"
                                           th:errors="*{newEmail}" class="text-danger"></small>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Change Username</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div>
    <nav th:replace="~{fragments/footer}"></nav>
</div>
</body>
</html>