<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>

<body sec:authorize="hasRole('MASTER')">

<div class="wrapper">
    <div>
        <nav th:replace="~{fragments/navbar}"></nav>
    </div>


    <div class="roles-management-container container my-5">
        <div>
            <div>
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center mb-5">Manage User Roles</h1>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Username</th>
                                    <th scope="col">Current Role</th>
                                    <th scope="col" colspan="2" class="text-center">Actions</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="user : ${usersNamesAndRoles}">
                                    <td th:text="${user.email}">username</td>
                                    <td th:text="${user.roles}">role</td>
                                    <td>
                                        <form th:method="POST" th:action="@{/roles/management/addAdmin}">
                                            <input type="hidden" id="username" name="username" th:value="${user.email}">

                                            <button type="submit" name="action" class="btn btn-danger btn-sm">Make
                                                Admin
                                            </button>
                                        </form>
                                    </td>
                                    <td>
                                        <form th:method="POST" th:action="@{/roles/management/removeAdmin}">
                                            <input type="hidden" id="usernameRemove" name="username"
                                                   th:value="${user.email}">
                                            <button type="submit" name="action" class="btn btn-primary btn-sm">Remove
                                                Admin
                                            </button>
                                        </form>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pagination-container">
        <ul class="pagination justify-content-center">
            <li th:if="${usersNamesAndRoles.hasPrevious()}">
                <a th:href="@{/roles/management(page=${usersNamesAndRoles.number - 1}, size=${usersNamesAndRoles.size})}">Previous</a>
            </li>
            <li th:each="pageNum : ${#numbers.sequence(0, usersNamesAndRoles.totalPages - 1)}">
                <a th:href="@{/roles/management(page=${pageNum}, size=${usersNamesAndRoles.size})}"
                   th:text="${pageNum + 1}"
                   th:classappend="${pageNum == usersNamesAndRoles.number} ? 'active' : ''">1</a>
            </li>
            <li th:if="${usersNamesAndRoles.hasNext()}">
                <a th:href="@{/roles/management(page=${usersNamesAndRoles.number + 1}, size=${usersNamesAndRoles.size})}">Next</a>
            </li>
        </ul>
    </div>

</div>
<div>
    <nav th:replace="~{fragments/footer}"></nav>
</div>
</body>
</html>
