<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}">

</head>
<body>
<div class="wrapper">

    <div>
        <nav th:replace="~{fragments/navbar}"></nav>
    </div>


    <div class="text-center m-auto">
        <h5>Email Address Required</h5>
        <p>We need your email address to log you in. Please register or login with an account that provides an email
            address.</p>
        <a href="/users/register" class="activation-button btn mt-5">Go to Register</a>
    </div>


</div>

<div>
    <nav th:replace="~{fragments/footer}"></nav>
</div>

</body>
</html>
