@import url('reset.css');
@import url('typography.css');


body{
    background-color: dimgrey;
}

/* styles.css */
.hero-section {
    background: url('../images/beard.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.hero-section .container {
    max-width: 600px;
}

.hero-section .btn {
    margin-top: 20px;
}

.content {
    flex: 1 0 auto;
}

/*Navigation*/
.navbar {
    background-color: #333;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar .nav-item {
    font-size: 25px;
}


/* Products Section */
#products .card {
    margin-bottom: 30px;
}

#products .card-title {
    font-size: 1.25rem;
}

#products .card-text {
    font-size: 1rem;
    color: #555;
}

/* About Section */
#about p {
    font-size: 1.1rem;
    color: #333;

}

/* Help Section*/
.help-intro-section {
    background: url('../images/beard-help.webp') no-repeat center center;
    background-size: cover;
    padding: 60px 0;

}

/*Blog Section*/
.blog-intro-section {
    background-image: url('../images/beard-blog.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

/* Custom styles for blog cards */
.card img {

}

/* Contact Section */
#contact form {
    max-width: 600px;
    margin: auto;
}

/* Login Section */
.login-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.login-section .card {
    margin-top: 30px;
}

/*.container {*/
/*    height: 5rem;*/

/*}*/


.container .form-check-label {
    margin-left: 5px;
}

.container .form-check {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}


/* Footer */
footer {
    background-color: #333;
    flex-shrink: 0;
    padding: 1rem;
    text-align: center;
}

footer p {
    margin: 0;
    color: whitesmoke;
}

.error-404 {
    height: 100vh;
    margin: 0;
    background-image: url('../images/404.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-align: center;
}

.error-message {
    z-index: 1;
}

#nav {
    list-style: none inside;
    margin: 0;
    padding: 0;
    text-align: center;
}

#nav li {
    display: block;
    position: relative;
    float: left;
    background: inherit;
}

#nav li a {
    display: block;
    font-size: 25px;
    padding: 14px 50px;
    text-decoration: none;
    width: inherit;
    line-height: 35px;
    color: whitesmoke;
}

#nav li li a {
    font-size: 100%;
}


/*#nav li:hover {*/
/*    background: white;*/
/*}*/


#nav ul {
    position: absolute;
    padding: 0;
    left: 0;
    display: none;
}

/*#nav li:hover ul ul {*/
/*    display: block;*/
/*    background: #333;*/
/*}*/


#nav li:hover ul {
    display: block;
    background: #333;

}

#nav li ul li a {
    color: whitesmoke;
}

#nav li ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin: -2.5rem 4rem;
    left: 2rem;
    display: none;
}

#nav li ul li:hover > ul,
#nav li ul li:focus-within > ul,
#nav li ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    background: inherit;
}

#nav ul li ul li {
    clear: both;
    width: 100%;
}

#nav #logout {
    display: block;
    padding: 14px 25px;
    width: 100%;
    line-height: 35px;
    color: whitesmoke;
    font-size: 25px;
}


/* Set the logo container to fix it in the top-left corner */
.logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
}

/* Style the logo itself */
.logo {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}







