<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>
<body>

<nav
        th:fragment="navbar"
        class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <div class="logo-container">
            <img src="/images/logos/1.webp" alt="Finebeard Logo" class="logo">
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto" id="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/help">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>


                <th:block sec:authorize="isAuthenticated()">
                    <li  sec:authorize="hasRole('ADMIN')" aria-label="Admin">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button">Admin</a>
                        <ul>
                            <li><a sec:authorize="hasRole('MASTER')" href="/roles/management">Roles</a></li>
                            <li><a href="#">Products</a>
                                <ul>
                                    <li><a sec:authorize="hasRole('MASTER')" href="/products/add">Create</a></li>
                                    <li><a sec:authorize="hasRole('MASTER')" href="/products/management">Change</a></li>
                                    <li><a sec:authorize="hasRole('MASTER')" href="/products/management">Remove</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>

                    <li class="nav-item">

                        <form th:method="post"
                              th:action="@{/users/logout}" class="logout-form" id="logout-form">
                            <input type="submit" class="btn btn-link nav-link" id="logout"  value="Logout"/>
                        </form>

                    </li>

                </th:block>


                <th:block sec:authorize="!isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/register">Register</a>
                    </li>
                </th:block>

            </ul>
        </div>
    </div>
</nav>

</body>
</html>