<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>
<body>

<nav
        th:fragment="navbar"
        class="navbar navbar-expand-lg navbar-dark">
    <div class="container">

        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="logo-container order-2 order-lg-0 ms-auto">
            <img src="/images/logos/1.webp" alt="Finebeard Logo" class="logo">
        </div>

        <div class="collapse navbar-collapse order-3 order-lg-1" id="navbarNav">
            <ul class="navbar-nav ml-lg-auto" id="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/shop/categories">Shop</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/help">Help</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>


                <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-search"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i></a></li>

                <th:block sec:authorize="isAuthenticated()">

                    <li class="dropdown" id="profile"><a class="nav-link" href="#" id="navbarDropdown" role="button"><i
                            class="fas fa-user"></i>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="dropdown-item">
                                <a class="nav-link" href="/profile">Profile</a>
                            </li>

                            <li class="dropdown-item" sec:authorize="hasRole('ADMIN')" aria-label="Admin">
                                <a class="nav-link" href="#" role="button">Admin</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a sec:authorize="hasRole('MASTER')" href="/roles/management">Roles</a></li>
                                    <li class="dropdown-item"><a href="#">Products</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item"><a sec:authorize="hasRole('MASTER')" href="/products/add">Create</a>
                                            </li>
                                            <li class="dropdown-item"><a sec:authorize="hasRole('MASTER')"
                                                   href="/products/management">Change</a></li>
                                            <li class="dropdown-item"><a sec:authorize="hasRole('MASTER')"
                                                   href="/products/management">Remove</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-item"><a sec:authorize="hasRole('MASTER')" href="/blog/add">Articles</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-item">
                                <form th:method="post"
                                      th:action="@{/users/logout}" class="logout-form" id="logout-form">
                                    <input type="submit" class="btn btn-link nav-link" id="logout" value="Logout"/>
                                </form>
                            </li>
                        </ul>
                    </a></li>

                </th:block>


                <th:block sec:authorize="!isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/register">Register</a>
                    </li>
                </th:block>

            </ul>
        </div>
    </div>
</nav>

</body>
</html>