<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>
<body>

<nav
        th:fragment="navbar"
        class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-name" href="/">FineBeard</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/shop/categories">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/help">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>

                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" sec:authorize="hasRole('MASTER')" href="/roles/management">User
                                role management</a>
                            <!--                            <a class="dropdown-item" href="/profile/edit_profile">Edit profile</a>-->
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>

                    <li class="nav-item">

                        <form th:method="post"
                              th:action="@{/users/logout}" class="logout-form">
                            <input type="submit" class="btn btn-link nav-link" value="Logout"/>
                        </form>

                    </li>

                </th:block>


                <th:block sec:authorize="!isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/register">Register</a>
                    </li>
                </th:block>

            </ul>
        </div>
    </div>
</nav>

</body>
</html>